@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
:root {
  --clr-white: #fafafa;
  --clr-whiter: #ffffff;
  --clr-gray-lighter: #ebebeb;

  --clr-gray-light: #e5e5e5;
  --clr-gray-dark: #8c8c8c;
  --clr-black: #242424;
  --ff-primary: "IBM Plex Sans";
  --ff-secondary: "Playfair Display";
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--ff-primary);
  color: var(--clr-black);
}
main,
header,
footer {
  padding: 0 10%;
}
h1 {
  font-family: var(--ff-secondary);
  font-size: 4.5rem;
  font-weight: 700;
}
@media (min-width: 1600px) {
  main,
  header,
  footer {
    padding: 0 15%;
  }
}
@media (max-width: 1250px) {
  html {
    font-size: 55%;
  }
  h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 950px) {
  main,
  header,
  footer {
    padding: 0 4rem;
  }
  h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 500px) {
  main,
  header,
  footer {
    padding: 0 2rem;
  }
}
